h3 {
    margin-top: 4px;
    margin-bottom: 5px;
}

.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.list {
    max-width: 600px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.card {
    margin-top: 30px;
    border-style: solid;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    padding: 16px;
    text-align: left;
    background-color: whitesmoke;
    border-radius: 10px;
    border-width: 1px;
    border-color: #dcdde1;
  }

  .main-content {
      text-align: justify;
      margin-top: 30px;
      margin-left: 35px;
      margin-right: 35px;
      margin-bottom: 30px;
  }

  .tags {
      text-align: right;
  }

  #discard {
    width: 100%;
    color: white;
    background-color: #c0392b; 
    font-size: x-large;
    padding: 8px;
    margin: auto;
    margin-top: 16px;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 0;
    text-align: center;
 }
 #discard:hover {
    cursor: pointer;
 }
 #post-now {
    width: 100%;
    color: white;
    background-color: #20bf6b; 
    font-size: x-large;
    padding: 8px;
    margin: auto;
    margin-top: 16px;
    vertical-align: middle;
    border-radius: 5px;
    border-width: 0;
    text-align: center;
 }
 #post-now:hover {
    cursor: pointer;
 }