<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %} {% endblock %}
</head>
<body>

    <style>
        .main_container {
            margin-top: 50px;
        }
    </style>

    {% set active_page = active_page|default('index') -%}
    <div class="topnav">
        <a {% if "index" == active_page %} class="active" {% endif %} href="index.html">Home</a>
        <a {% if "posts" == active_page %} class="active" {% endif %} href="posts.html">Posts</a>
        <a href="statistics.html">Statistics</a>
        <a href="#about">About</a>
    </div> 

    {% block body %}
        
    {% endblock %}

</body>
</html>