{% extends 'base_no_nav.html' %}
{% set active_page = "posts" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/confirm.css') }}"
{% endblock %}

{% block body %}

<div class="main_container"> 
    
    <div class="card">
        <h3>{{post.Titel}}</h3>
        <p class="main-content">
            {{post.Text}}
        </p>
        
        <div class="listOfTags">
        {% for relation in relations %}
        {% if (relation.PostId == post.id) %}
        {% for tag in tags %}
        {% if (relation.TagId == tag.id) %}                    
        <div class="tag">
            {{tag.Name}}
            <a href="/deleteRelation/{{relation.id}}">
                <img class="remove_tag_symbol" src="{{ url_for('static', filename='remove.png') }}">
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        <form action="/addRelation/{{post.id}}" method="POST" class="tag_input_box" >
            <input class="tag_input" placeholder="Add a Tag" type="text" name="tagName" id="tagName">
            <input class="tag_plus" type="image" src="{{ url_for('static', filename='plus.png') }}">
        </form>
    </div>
    <form action="/deletePost/{{post.id}}">
        <input type="submit" value="Delete Post" id="discard"/>
    </form>
    <form action="/posts.html">
        <input type="submit" value="Post Now" id="post-now"/>
    </form>
</div>
    
</div>

{% endblock %}