{% extends 'base.html' %}
{% set active_page = "index" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"
{% endblock %}

{% block body %}

<div class="main_container">
 <h1>What troubles you?</h1>

 <form action="/addPost" method="POST">
    <input type="text" id="input-title" name="input-title" placeholder="Title">
    <textarea type="text" id="input-message" name="input-message" placeholder="Text"></textarea>
    <input type="submit" value="Submit" id="input-submit">
 </form>

</div>

{% endblock %}