{% extends 'base.html' %}
{% set active_page = "posts" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}"
{% endblock %}

{% block body %}

<div class="main_container"> 
    
    <div class="list">
        {% for post in posts %}
        <div class="card">
            <h3>{{post.Titel}}</h3>
            <a href="/deletePost/{{post.id}}"> 
                DELETE
            </a>
            <p class="main-content">
                {{post.Text}}
            </p>
            <a href="/incrementMeToo/{{post.id}}">
               <p class="tags">MeeToo: {{post.MeTooCount}}</p> 
            </a>    
            
        <div class="listOfTags">
            {% for relation in relations %}
                {% if (relation.PostId == post.id) %}
                    {% for tag in tags %}
                        {% if (relation.TagId == tag.id) %}                    
                            <div>{{tag.Name}}</div>
                            <a href="/deleteRelation/{{relation.id}}">Remove Tag</a>
                        {% endif %}
                    {% endfor %}
               {% endif %}
            {% endfor %}
            <form action="/addRelation/{{post.id}}" method="POST">
                <input type="text" name="tagName" id="tagName">
                <input type="submit" value="Add Relation">
            </form>
        </div>  

        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}