{% extends 'base.html' %}
{% set active_page = "posts" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}"
{% endblock %}

{% block body %}

<div class="main_container"> 
    <div class="tools-sidebar">
        <form action="/searchByTag" method="POST">
            <input type="text" id="input-search-tag" name="input-search-tag" placeholder="Search Term"/>
            <input type="image" id="search-icon" alt="Search" src="{{ url_for('static', filename='search.png') }}"/>
        </form>
    </div>

    <div class="list">
        {% for post in posts %}
        <div class="card" id="post{{post.id}}">
            <h3>{{post.Titel}}</h3>
            <a href="/deletePost/{{post.id}}"> 
                DELETE
            </a>
            <p class="main-content">
                {{post.Text}}
            </p>
            <div class="card-footer">
                <div class="listOfTags">
                    {% for relation in relations %}
                        {% if (relation.PostId == post.id) %}
                            {% for tag in tags %}
                                {% if (relation.TagId == tag.id) %}                    
                                    <div class="tag">{{tag.Name}}</div>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>  

                <div class="me-too-container">
                    <a href="/incrementMeToo/{{post.id}}">
                        <img class="me-too-symbol" src="static/raise.png" onclick="this.src='static/raised.png'" onmouseover="this.src='static/raised.png'" onmouseout="this.src='static/raise.png'">
                    </a> 
                        <div class="me-toos"><p>{{post.MeTooCount}}</p></div> 
                </div>               
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}